/* * selector to apply the following styles to all elements on the page. */
*{
  /* sets the global box-sizing to border-box, so that padding and 
  borders are included in the element's total width and height */
  box-sizing: border-box;
  /* sets the margin of all elements to 0 */
  margin: 0;
  /* sets the padding of all elements to 0 */
  padding: 0;
  /* sets the Montserrat font as the default font family for all text elements on the page,
  Sans-serif is used as a fallback in case the Montserrat font is not available on the user's device */
  font-family: 'Montserrat', sans-serif;
}


.page-container{ 
  /* set the flex-direction property to "column". */
  flex-direction: column;
  /* enable the flexbox layout. */
  display:flex;
  /* set the position property to "absolute" */
  position:absolute;
  /* set the left property to 0 */
  left:0;
  /* set the right property to 0 */
  right:0;
  /* set the bottom property to 0 */
  bottom:0;
}

.content-wrap{
  /* set the flex property to 1 to make the content wrapper take up all available space. */
  flex: 1;
}
