.blogs {
    background-image:url('../components/images/dentistry.jpg');
    width:700px;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0;
    padding: 0;
    color: rgb(248, 248, 248);
    padding: 100px;
    background-position: center;
    background-repeat: no-repeat;
  }
  